.container {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    /* gap: 20%; */
}

.container aside {

}

.container main {
    /* width: 100%; */
    /* margin-right: auto; */
}