.container {
    display: flex;
    flex-direction: column;
    width: 16rem;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 1.5rem 0.5rem;
    margin-top: 1rem;
}

.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 1.5rem; */
}

.item p {
    text-align: center;
}

.container button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.item1 {
    background-color: #3361FF;
}

.item2 {
    background-color: #33BFFF;
}

.item3 {
    background-color: #29CC39;
}

.item4 {
    background-color: #FF6633;
}

.item5 {
    background-color: #FFCB33;
}

.item6 {
    background-color: #3361FF;
}