.container {
    display: flex;
    flex-direction: column;
    width: 16rem;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 1rem;
}

.container section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding-left: auto;
}

.container button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}