.navBar {
    display: flex;
    height: 5.5rem;
    justify-content: flex-start;
    align-items: center;
}

.menuBars {
    margin-left: 1rem;
    font-size: 2rem;
    background: none;
}

.icon {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
}

.navMenu {
    background-color: rgb(223, 223, 223);
    width: 15rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* position: absolute; */
    top: 0;
    left: -100%;
    transition: 0.5s ease-in-out;
}

.navMenuActive {
    left: 0;
    transition: 350ms;
}

.navText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.navText a {
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    /* padding: 0 1.2rem; */
    border-radius: 4px;
}

.navText a:hover {
    background-color: #9e9e9e;
    padding-left: 2rem;
    transition: 350ms;
}

.navMenu_items {
    list-style: none;
    width: 100%;
    padding-left: 1rem;
}

.navbarToggle {
    background-color:  rgb(223, 223, 223);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span {
    margin-left: 16px;
}

.menuBars:focus ~ .mainContent{
    margin-left: 20rem;
}